

<main class="main">

  <div class="content">
    <div class="left-side">
      <app-main-header/>


      <h1>{{ 'Hello' | translate }}</h1>
    </div>

    <div class="right-side">


      <nav>
        <ul>
          <li>
            <a routerLink="/home" routerLinkActive="active">{{ 'Home' | translate }}</a>
          </li>
          <li>
            <a routerLink="/about" routerLinkActive="active">{{ 'About' | translate }}</a>
          </li>
          <li>
            <a routerLink="/contact" routerLinkActive="active">{{ 'Contact' | translate }}</a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</main>


<router-outlet>

</router-outlet>
