<mat-toolbar class="header-bar">
    <button mat-icon-button class="menu-button" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">         Mini CRM           </span>
    <button mat-icon-button class="language-button" aria-label="Example icon-button with language icon">
      <mat-icon>language</mat-icon>
    </button>
</mat-toolbar>
<!-- <mat-toolbar>
  <button (click)="translateText('en')">English</button>
  <button (click)="translateText('pt')">Português</button>
  <button (click)="translateText('fr')">Francais</button>
</mat-toolbar> -->
